<!doctype html>
<html lang="en">

<head>
    <%- include('../generalPartials/_head.ejs') %>
        <link rel="stylesheet" href="/css/cartPage.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/orderPage.css">
        <script>
            let userOrders = <%- JSON.stringify(locals.userOrders) %>
        </script>
</head>

<body>
    <%- include('./partials/home/_header.ejs') %>
        <section class="bg-white">
            <div class="container pt-4">
                <div class="header d-flex justify-content-between  mb-3">
                    <div class="header-text">
                        Your Orders
                    </div>
                    <div class="serach-bar-container"></div>
                </div>
                <div class="row">
                    <div class="order-realted-details col-12 col-md-8">
                        <div class="filter-btn-container d-flex gap-3 ms-3 mb-1">
                            <div class="filter-btns">
                                    <button class="btn btn-link" id="filter_order">Orders</button>
                            </div>
                            <div class="filter-btns">
                                    <button class="btn btn-link" id="filter_buyAgain">Buy Again</button>
                            </div>
                            <div class="filter-btns">
                                    <button class="btn btn-link" id="filter_notYetShipped">Not Yet Shipped</button>
                            </div>
                            <div class="filter-btns">
                                    <button class="btn btn-link" id="filter_cancelOrder">Cancelled Orders</button>
                            </div>
                        </div>
                        <hr class="mb-3">
        
                        <div class="order-count-container mb-3">
                            <span> <span class="fw-bold"><span class="order-count"></span> orders </span> placed in </span>
                        </div>
        
                        <div class="order-list-container">
                            <div class="order-list">
                                <div>
                                    <div class="order-item-container mb-3">
                                        <div class="section-one p-2">
                                            <div class="section-content">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                        <div class="order-date">
                                                            <div>
                                                                <span>ORDER PLACED</span>
                                                            </div>
                                                            <div class="section-value">
                                                                <span>6 August 2023</span>
                                                            </div>
                                                        </div>
                                                        <div class="total-price">
                                                            <div>
                                                                <span>TOTAL PRICE</span>
                                                            </div>
                                                            <div  class="section-value">
                                                                <span>₹548.00</span>
                                                            </div>
                                                        </div>
                                                        <div class="ship-to">
                                                            <div>
                                                                <span>SHIP TO</span>
                                                            </div>
                                                            <div  class="section-value position-relative show-detials-on-hover">
                                                                <span class="link">Nandhu Santhosh</span>

                                                                <div class="position-absolute address-details-container">
                                                                    <div class="position-relative address-details">
                                                                        <span class="fw-bold">Nandhu Santhosh</span>
                                                                        <p>Leham Complex, Kazhakkottam
                                                                        vetturoad, kazhakuttom
                                                                        Trivandrum, KERALA 695582
                                                                        India</p>

                                                                        <div class="arrow">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-two p-2">
                                            <div>
                                                <div class="header">
                                                    Return completed
                                                </div>
                                                <div class="product-details">
                                                    <div class="d-flex gap-2 gap-md-4 mb-2">
                                                        <div class="image-container">
                                                            <img width="100px" height="100px" src="https://m.media-amazon.com/images/I/31WONZied9L._SY90_.jpg" alt="">
                                                        </div>
                                                        <div class="name-container">
                                                            <span>
                                                                <a href="">
                                                                    Dyazo 30 L Slim Business Laptop Backpack Casual Design Water Resistant Backpack for laptops for 15.6 inch laptop (Black)
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex gap-2 gap-md-4 mb-2">
                                                        <div class="image-container">
                                                            <img width="100px" height="100px" src="https://m.media-amazon.com/images/I/31WONZied9L._SY90_.jpg" alt="">
                                                        </div>
                                                        <div class="name-container">
                                                            <span>
                                                                <a href="">
                                                                    Dyazo 30 L Slim Business Laptop Backpack Casual Design Water Resistant Backpack for laptops for 15.6 inch laptop (Black)
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="order-item-container">
                                        <div class="section-one p-2">
                                            <div class="section-content">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex gap-lg-5 gap-md-4 gap-sm-3 gap-3">
                                                        <div class="order-date">
                                                            <div>
                                                                <span>ORDER PLACED</span>
                                                            </div>
                                                            <div class="section-value">
                                                                <span>6 August 2023</span>
                                                            </div>
                                                        </div>
                                                        <div class="total-price">
                                                            <div>
                                                                <span>TOTAL PRICE</span>
                                                            </div>
                                                            <div  class="section-value">
                                                                <span>₹548.00</span>
                                                            </div>
                                                        </div>
                                                        <div class="ship-to">
                                                            <div>
                                                                <span>SHIP TO</span>
                                                            </div>
                                                            <div  class="section-value position-relative show-detials-on-hover">
                                                                <span class="link">Nandhu Santhosh</span>

                                                                <div class="position-absolute address-details-container">
                                                                    <div class="position-relative address-details">
                                                                        <span class="fw-bold">Nandhu Santhosh</span>
                                                                        <p>Leham Complex, Kazhakkottam
                                                                        vetturoad, kazhakuttom
                                                                        Trivandrum, KERALA 695582
                                                                        India</p>

                                                                        <div class="arrow">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-two p-2">
                                            <div>
                                                <div class="header">
                                                    Return completed
                                                </div>
                                                <div class="product-details">
                                                    <div class="d-flex gap-2 gap-md-4">
                                                        <div class="image-container">
                                                            <img width="100px" src="https://m.media-amazon.com/images/I/31WONZied9L._SY90_.jpg" alt="">
                                                        </div>
                                                        <div class="name-container">
                                                            <span>
                                                                <a href="">
                                                                    Dyazo 30 L Slim Business Laptop Backpack Casual Design Water Resistant Backpack for laptops for 15.6 inch laptop (Black)
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="next-order-suggestion col-12 col-md-4 bg-primary">
                        d
                    </div>
                </div>

            </div>
        </section>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
<script src="../js/user/orderPage.js"></script>

<%- include('../utilityViews/alertModel.ejs') %>

<%- include("../generalPartials/_jqueryJs.ejs") %>
<%- include("../generalPartials/_bootstrapJS.ejs")%>


</html>