<!doctype html>
<html lang="en">

<head>
    <%- include('../generalPartials/_head.ejs') %>
        <link rel="stylesheet" href="/css/userSettings.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script>
            // const u = '<%= locals.userDetails %>'
            const userDetails = <%- JSON.stringify(userDetails) %>
            let addresses = <%- JSON.stringify(addresses) %>
        </script>
</head>
<body>
    <main class="p-content">
        <header>
            <div class="d-flex py-2 align-items-center justify-content-between gap-3 mt-2 pb-3">
                <div class="main-heading">Settings</div>
                <div >
                    <button class="btn nav-toggle">
                        <i class="bi bi-list"></i>
                    </button>
                </div>
            </div>
        </header>

        <div class="header-seperator"> </div>

        <main class="pt-4">
            <div class="position-relative content-container">
                <div class="left-section d-none d-lg-block">
                    <ul class="list-group" id="sidebarBtnList">
                        <li class="list-group-item border-none ps-4 setting-btn curr" id="my_details_btn">My Details</li>
                        <li class="list-group-item border-none ps-4 setting-btn" id="forgot_password_btn">Forgot Password</li>
                    </ul>
                </div>
                <div class="right-section p-2 p-sm-3 p-md-4 p-lg-5">
                    <div class="current-page">
                        <ul class="button-list p-0">
                        </ul>
                    </div>
                    <div class="content">
                        <div class="myDetailsContent d-none">
                            <div class="firstSection">
                                <div class="mb-3">
                                    <label for="username">Name</label>
                                    <div class="d-flex gap-2">
                                        <input type="text" class="form-control" id="username" aria-describedby="name"
                                            value="<%=locals.userDetails.name %> ">
                                        <button class="btn btn-secondary disabled" id="nameUpdateBtn">Update</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="user-email">Email</label>
                                        <input type="text" class="form-control" disabled id="user-email" aria-describedby="name"
                                            value="<%=locals.userDetails.credentials.email || locals.userDetails.credentials.mobile.number%> ">
                                </div>
                            </div>
                            <div class="addressSection">
                                <div class="addressHeader mt-2 mb-3">
                                    <span class="address-header">Your Addresses</span>
                                </div>
                                <div class="addressesContainer">
                                    <!-- js injection -->
                                </div>
                                <div class="newAddressbtn">
                                    <button class="btn addAddressBtn" id="addAddressBtn">
                                        <div><img width="60px" src="accets/icons8-plus-90.png" alt=""></div>
                                        <div><span>Add Address</span></div>
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="editAddressContent d-none">
                            <div class="mb-3">
                                <label for="addressFullName">Name</label>
                                <input type="text" class="form-control" id="addressFullName" aria-describedby="name"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressMobile">Mobile</label>
                                <input type="text" class="form-control" id="addressMobile" aria-describedby="mobile"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressPincode">Pincode</label>
                                <input type="text" class="form-control" id="addressPincode" aria-describedby="pincode"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressAddressLine1">Address Line 1</label>
                                <input type="text" class="form-control" id="addressAddressLine1" aria-describedby="addressLine1"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressAddressLine2">Address Line 2</label>
                                <input type="text" class="form-control" id="addressAddressLine2" aria-describedby="addressLine2"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressLandmark">Landmark</label>
                                <input type="text" class="form-control" id="addressLandmark" aria-describedby="landmark"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <label for="addressState">State</label>
                                <input type="text" class="form-control" id="addressState" aria-describedby="state"
                                        value="<%=locals.userDetails.name %> ">
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-secondary" id="editCancelBtn">Cancel</button>
                                    <button class="btn btn-primary d-none" id="editUpdateBtn">Update</button>
                                    <button class="btn btn-primary d-none" id="createNewAddressBtn">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="passwordContent d-none">This is password content</div>
                    </div>
                </div>
            </div>
        </main>
    </main>




<!-- MODAL STARTS HERE-->
    <div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<!-- MODAL ENDS HERE -->


</body>
<%- include("../generalPartials/_jqueryJs.ejs") %>
<%- include("../generalPartials/_bootstrapJS.ejs") %>
<script src="js/user/settings.js"></script>
</html>