<!doctype html>
<html lang="en">

<head>
    <%- include('../generalPartials/_head.ejs') %>
    <link rel="stylesheet" href="/css/userStyle.css">
    <link rel="stylesheet" href="/css/tooltipStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script>
        const associate = '<%= locals.associate %>'
        const page = '<%= locals.page %>'
        const superSet = '<%= locals.superSet %>'
    </script>
</head>


<body>
    <main class="bg-background">
        <div class="container-fluid px-2 ps-sm-5 pe-sm-3 overflow-hidden">
            <div class="row h-100vh">
                <div class="left-section d-flex align-items-center position-relative">
                    <% if(locals.page == 'signup'){ %>
                        <%- include('./partials/_signup.ejs') %>
                    <%} else if(locals.page == 'login') { %>
                        <%- include('./partials/_login.ejs') %>
                    <% } else { %>
                        <%- include('./partials/_otpAuth.ejs') %>
                    <% } %>
                </div>
                <div class="right-section d-none d-md-flex align-items-center col">
                    <div style=" background-color: lightblue" class="h-95 w-100 border-20"></div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <%- include('../utilityViews/alertModel.ejs') %>
    

    <%- include('../generalPartials/_jqueryJs.ejs') %>
    <%- include("../generalPartials/_bootstrapJS.ejs") %>
    <script src="/js/formValidation.js"></script>


</body>

</html>